/* projects.css */

.project {
    display: flex;
    flex-wrap: wrap;
    position: relative; /* Set position relative for containing the info div */
  }
  
  .image-container {
    position: relative;
    height: auto; /* Set container height to viewport height */
    width: 100vw; /* Set container width to viewport width */
  }
  
  .image-container img {
    width: 100%; /* Set image width to 100% of container */
    height: auto; /* Automatically adjust image height to maintain aspect ratio */
    transition: filter 0.3s ease; /* Add transition for smooth brightness change */
  }
  
  .image-container.active img {
    filter: brightness(5%);
  }
  
  .info {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: auto;
    transform: translate(-50%, -50%);
    color: white;
    margin: 2px;
    border: 2px solid;
    border-color: aqua;
    text-align: center;
    padding: 2vh; /* Add padding to create space between contents and borders */
    filter: brightness(100%); /* Increase brightness of the .info div */
  }
  
  .info h1 {
    color: red;
    font-size: 4vw;
    font-style: oblique;
  }
  .info h3 {
    color: white;
    font-size: 3vw;
    font-style: italic;
  }
  
  .info button {
    padding: 1vh 2vh;
    border-radius: 1vh;
    border:2px solid;
    border-color: gray;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  
  .info button:hover {
    background-color: sandybrown; /* Change background color on hover */
  }
  
  .image-container.active {
    box-shadow: 0 0 10px 0vh aqua; /* Add border glow effect */ /* Ensure the active container is above its contents */
  }
  